---
# Install Solr.
- name: install-pre5 | Check if Solr is already installed.
  ansible.builtin.stat:
    path: "{{ solr_install_path }}/dist/{{ solr_filename }}.war"
  register: solr_war_file

- name: install-pre5 | Copy Solr into place.
  ansible.builtin.command: "cp -r {{ solr_workspace }}/{{ solr_filename }} {{ solr_install_path }}"
  changed_when: true
  when: not solr_war_file.stat.exists

- name: install-pre5 | Ensure Solr install files are owned by the solr_user.
  ansible.builtin.file:
    path: "{{ solr_install_path }}"
    owner: "{{ solr_user }}"
    group: "{{ solr_group }}"
    recurse: true
  when: not solr_war_file.stat.exists

# Set up solr_home.
- name: install-pre5 | Check if solr_home is already set up.
  ansible.builtin.stat:
    path: "{{ solr_home }}/solr.xml"
  register: solr_example

- name: install-pre5 | Ensure solr_home directory exists.
  ansible.builtin.file:
    path: "{{ solr_home }}"
    state: directory
    owner: "{{ solr_user }}"
    group: "{{ solr_group }}"
    mode: "0755"
  when: not solr_example.stat.exists

- name: install-pre5 | Copy Solr example into solr_home.
  ansible.builtin.command: "cp -r {{ solr_install_path }}/example/solr/. {{ solr_home }}"
  changed_when: true
  when: not solr_example.stat.exists

- name: install-pre5 | Fix the example solrconfig.xml file.
  ansible.builtin.replace:
    dest: "{{ solr_home }}/collection1/conf/solrconfig.xml"
    regexp: ^.+solr\.install\.dir.+$
    replace: ""
    mode: "0644"
  when: "not solr_example.stat.exists and solr_version.split('.')[0] == '4'"

- name: install-pre5 | Ensure Solr home files are owned by the solr_user.
  ansible.builtin.file:
    path: "{{ solr_home }}"
    owner: "{{ solr_user }}"
    group: "{{ solr_group }}"
    recurse: true
  when: not solr_example.stat.exists

# Set up Solr init script.
- name: install-pre5 | Ensure log file is created and has proper permissions.
  ansible.builtin.file:
    path: "/var/log/solr.log"
    state: touch
    owner: "{{ solr_user }}"
    group: root
    mode: "0664"
  changed_when: false
  when: ansible_service_mgr != 'systemd'

- name: install-pre5 | Copy solr init script into place.
  ansible.builtin.template:
    src: "solr-init-{{ ansible_os_family }}-pre5.j2"
    dest: "/etc/init.d/{{ solr_service_name }}"
    mode: "0755"
  when: ansible_service_mgr != 'systemd'

- name: install-pre5 | Ensure daemon is installed (Debian).
  ansible.builtin.apt:
    name: daemon
    state: present
  when:
    - ansible_os_family == "Debian"
    - ansible_service_mgr != 'systemd'

- name: install-pre5 | Copy solr systemd unit file into place (for systemd systems).
  ansible.builtin.template:
    src: solr-pre5.unit.j2
    dest: /etc/systemd/system/{{ solr_service_name }}.service
    owner: root
    group: root
    mode: "0755"
  when: ansible_service_mgr == 'systemd'
