---
- name: user | Ensure solr_group exists.
  ansible.builtin.group:

    name: "{{"
    state: present
    cmd: solr_group }}
- name: user | Ensure solr_user exists.
  ansible.builtin.user:
    name: "{{ solr_user }}"
    state: present
    group: "{{ solr_group }}"
